#main {
    background-color: rgb(1, 1, 78);
    color: white;
    border-radius: 20px;
    width: 70vw;
    margin: 20px 5px 10px 5px;
    padding: 20px;
    flex-wrap: wrap;
}
:root {
  --proj: 10vw;
}
.projects {
  background-color: transparent;
  width: 10vw;
  height: 10vw;
  margin: 2%;
  /* box-shadow: black 10px 5px 5px; */
  border-radius: 20px;
  /* animation: shake 1000ms reverse; */
  animation: unshake 100ms ease-in-out;
}
@media screen and (max-width: 600px) {
  .projects {
    width: 15vw;
    height: 15vw;
    border-radius: 20px;
  }
}
.projects:hover {
  animation: shake 100ms forwards;
}
@keyframes unshake {
  0%{
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0px);
  }
  
}
@keyframes shake{
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.projects img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0px;
}
.projDesc {
  text-align: center;
  width: 98%;
  display: none;
  background-color: rgb(219, 218, 218);
  color: black;
  border-radius: 10px;
  /* position: relative; */
  transform: translate(2px, -11px);
  border-top: solid rgb(0, 0, 0) 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-decoration: none !important;
  padding-left: 1%;
  padding-right: 1%;
}
