img {
    background-color: rgb(22, 22, 87);
    border-radius: 20px;
}

h3 {
    color: wheat;
    background-color: rgb(44, 17, 70);
    padding: calc(1vw + 1vh);
    border-radius: 20px;
    width: 21vw;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
}

#gamemode {
    border-radius: 20px;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    place-self: center;
    background-color: rgb(7, 7, 43);
    height: fit-content;
    margin-top: 3vw;
}
.main {
    place-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content !important;
    justify-content: space-around !important;
    margin: 0 !important;
    background-color: rgb(1, 1, 78);
    padding: 20px;
    border-radius: 20px;
    margin-top: 3vh !important;
    width: 70vw;
}
.startBtn {
    cursor: pointer;
    color: white;
    background-color: rgb(26, 30, 49);
    border: none;
    border-radius: 20px;
    font-size: calc(2.5vw + 2.5vh);
    width: fit-content;
    height: fit-content;
    place-self: center;
}
.startBg {
    border: 1px solid whitesmoke;
    background-color: rgb(4 4 12 / 96%);
    display: grid;
    border-radius: 20px;
    position: absolute;
}
.startBtn:hover {
    background-color: grey;
}
#boards {
    place-self: center;
    width: fit-content;
}
#instruct {
    color: white;
    background-color: rgb(25, 25, 34);
    padding: calc(1vw + 1vh);
    width: 50vw;
    height: fit-content;
    place-self: center;
    margin: calc(1vw + 1vh);
    border-radius: 5px;
    border-bottom: 2px solid aqua;
}
#select, #button2 {
    flex-basis: 10px;
    background-color:rgb(219, 219, 219) ;
    border: none;
    border-radius: 20px;
    padding: 2%;
    color: rgb(38, 33, 82);
    place-self: end center;
    cursor: pointer;
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
}
#select:hover , #button2:hover {
    background-color: rgb(168, 168, 168);
}

.canBeSelected {
    /* background-color: ; */
}
#board {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vw;
}
